/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  margin: 2em;
}

#lomake {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

#nimet {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0;
  flex-wrap: wrap;
}

#etu-nimi,
#suku-nimi {
  width: 48%;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 0;
}

div {
  margin-top: 1em;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

input[type="tel"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
input[type="email"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
input[type="password"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#osoite-osio {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0;
  flex-wrap: wrap;
}

#psnro,
#ptpaikka {
  width: 48%;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 0;
}

#katu {
  margin-bottom: 1em;
}

h1 {
  font-size: 24px;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 18px;
  margin-bottom: 0;
}

label {
  font-weight: bold;
}

#osoite {
  display: flex;
  justify-content: space-between;
}
